<!DOCTYPE html>
html(lang='dk')
	head
		include ./partials/headers.pug
		title Cube Client Interface

	body
		#canvas

		//- #flexer
		//- 	.panel#mainPanel
		//- 		h1.typeme#Header.m-5
		//- 		p#tfHeader(hidden) Hej!

		//- 		h5.typeme#Info1.m-5
		//- 		p#tfInfo1(hidden) Her kan du sutte røv


		//- 	.panel#sidePanel
		//- 		#canvas
		//- 		.login.p-4.align-self-center#loginDiv
		//- 			.input-group.mb-4.bottom-0
		//- 				span.input-group-text#basic-addon1 $
		//- 				input.form-control.shadow-none(type="text" placeholder="" aria-label="shell" aria-describedby="basic-addon1")
		//- 				//- button.btn.btn-primary(type="button") Send
		


		script(src="http://threejs.org/build/three.min.js")
		script(src="/js/typewriter.js")
		script(src="/js/newCube.js")